{% include 'header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="page-header">
    <h1>
        Topplista
    </h1>
    <p>Antal sparade inlägg: {{ num_entries }}</p>
</div>

<table>
    <thead>
        <tr>
            <th>Spelare</th>
            <th>Poäng</th>
            <th>Ta bort</th>
        </tr>
    </thead>
    <tbody>
        {% for player, score in players %}
        <tr>
            <td>{{ player }}</td>
            <td>{{ score }}</td>
            <td>
                <form action="{{ url_for('remove_player', player=player) }}" method="POST">
                    <button type="submit">Ta bort</button>
                </form>                              
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'footer.html' %}
